{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4 class="center-align">{{ board.board_name }}</h4>
    {% if messages %}
        {% for message in messages %}
            <div class="col s12 m7">
                <div class="card horizontal hoverable">
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4>{{ message.content }}</h4>
                        </div>
                        <div class="card-action">
                            <p>Posted on <a href="/message/{{message.id}}">{{message.date_created}}</a>by <a href="/creator/{{ message.creator.user }}">{{ message.creator.username }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h5 class="center-align">Sorry, there are no messages to display currently :(</h5>
    {% endif %}
</div>
{% endblock %}